@import "tailwindcss";

:root {
  --background: #fffaf3;
  --foreground: #3b2f2f;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}